@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

// Color Variables
$foreground: #140e0f;
$background: #fcfdfd;
$bodybg: #f8f1e7;
$detail: #002563;
$grey: #bababa;


// Veikan Script

@font-face {
    font-family: "Veikan";
    src: url("/fonts/veikan.woff");
}

body {
    background-color: $bodybg;
    color: $foreground;
    font-size: 1rem;
    font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: $foreground;
}

#wrapper {
    width: 900px;
    margin: auto;
    //padding: .5em;

    background-color: $background;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    box-shadow: 0px 0px 100px 1px rgba(0, 0, 0, 0.35);
}

header {
    display: flex;
    align-items: end;
    margin-bottom: .5em;
    padding: .5em;

    border-bottom: 1px dashed $grey;

    img {
        width: 50px;
    }
}

main {
    padding: .5em;
}

#headText {
    margin-left: 1em;

    h1 {
        font-size: 2rem;
        margin: 0;
        color: $detail;
    }

    h2 {
        font-size: 1.2rem;
        margin: 0;
    }
}

#headLangs {
    font-size: .8rem;
    margin-left: auto;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: .5em;

        border-left: 1px solid $grey;
        border-right: 1px solid $grey;
        border-top: 1px dashed $grey;
    }

    li {
        padding: .1em .5em;
        border-bottom: 1px dashed $grey;
    }

    a {
        text-decoration: none;
        color: $foreground;
    }

    a:hover {
        text-decoration: underline;
    }
}

.colContainer {
    display: grid;
    grid-template-columns: [sidebar] 180px [content] 1fr;
}

#sidebar {
    grid-column: sidebar;
}

#dataBox {
    border: 1px solid $grey;
    text-align: center;

    h3 {
        border: 1px solid $grey;
        margin: 1px;
        padding-top: .3em;
    }

    img {
        display: block;
        border: 1px solid $grey;
        margin: 1px;
        width: 174px;
    }

    .box {
        border: 1px solid $grey;
        font-size: .8rem;
        margin: 1px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: .2em .5em;
    }

    li:not(:last-child) {
        border-bottom: 1px dashed $grey;
    }
}

#content {
    padding: 0 .5em;
    font-size: .9rem;

    h4 {
        margin: 0;
        padding: 0 1em;
        background-color: $detail;
        color: $background;
    }

    li {
        padding: 0;
        margin: 0;
    }
}

.news {
    margin: 1em;
    padding-left: .5em;
    border-left: 1px dashed $detail;

    h5 {
        font-size: 1rem;
        margin: 0;
        text-decoration: underline;
    }

    p {
        font-size: .8rem;
    }

    .newsDate {
        font-size: .7rem;
        margin-bottom: .5em;
        font-style: italic;
    }

    a {
        font-size: .7rem;
        margin: 0;
    }

    img {
        float: right;
        margin: 1em;
        border: 1px dashed $detail;
    }
}

.date {
    display: inline;
    font-size: .7rem;
    font-style: italic;
}

#contentBody {
    margin: 1rem;

    p {
        margin-top: 1rem;
    }
}

#govLinks {
    display: flex;
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

    justify-content: center;

    li {
        margin: 1em;
    }

    img {
        border: 2px solid $grey;
    }
}

#countryMap {
    margin: 1em 0;
    text-align: center;
    padding-bottom: 1em;

    border-bottom: 1px dashed $grey;

    img {
        width: 350px;
    }

    p {
        margin: auto;
        border: 1px solid black;
        width: 200px;
        background-color: $detail;
        color: $background;
    }
}

#facts {

    h5 {
        margin: 0;
        font-size: .9rem;
    }

    p {
        margin-left: 1em;
        margin-bottom: .5em;
    }
}

.imgBox {
    text-align: center;
    float: right;
    padding: .5em;
    border: 3px double $grey;

    img {
        display: block;
    }

    p {
        margin-top: .5em;
    }
}

.vkScript {
    font-family: Veikan;
}

footer {
    background-color: $detail;
    margin: auto;

    display: flex;
    justify-content: space-between;
    padding: .5em;

    color: $background;
    font-size: .7rem;

    a {
        color: $background;
    }
}